body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("../img/NG82fm.jpg");
  background-color: #414cb1;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.form h2 {
  margin: 0 0 15px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-grid img {
  width: 48%;
  margin-bottom: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}

.image-grid img.selected {
  border: 2px solid #007bff;
}

a {
  color: #007bff;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.imejj {
  height: 20px;
}
